doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="../styles/style_main_page.css")
        link(rel="stylesheet", href="../styles/style_common.css")
        title Страница
    body
        div(id="main_screen")
        h1.main-title(id="main_title") Библиотека
        hr.divider(id="main_divider")
        div.main-page-part
            div.library-block
                div.list-of-books-block(id="list_of_books_block")
                    div.title-and-button
                        h3.title-of-list Список книг:
                        button.add-new-book(id="start_add_new_book") +Книга
                    div.list-of-books(id="list_of_books")
                        - const booklist = value
                        each book in booklist
                            div.book-in-list-of-books(id=`book_in_list_of_books#${book.id}`)
                                div.book-title-and-author(id="book_title_and_author")
                                    p.book-title(id=`book_title#${book.id}`) #{book.title}
                                    p.book-author(id="book_author") #{book.author}
                                div.book-status-and-actions(id="book_status_and_actions")
                                    - if (book.status === "IN_STOCK")
                                        p.book-status В наличии
                                    - else if (book.status === "UNAVAILABLE")
                                        p.book-status Занята
                                    - else
                                        p.book-status Неизвестно
                                    div.book-actions(id="book_actions")
                                        img.book-action-icon(id=`book_action_take#${book.id}`, src="../drawable/ic_take_book.png")
                                        img.book-action-icon(id=`book_action_return#${book.id}`, src="../drawable/ic_return_book.png")
                div.right-side-panel
                    div.authorization-panel
                        div.authorization-panel-title-and-unauthorization
                            p.average-title Пользователь:
                            p.authorization-panel-unauthorization(id="authorization_panel_unauthorization") (Выйти)
                        p.authorization-panel-current-user(id="authorization_panel_current_user")
                    h3.title-of-list Фильтры:
                    p.filter-title Название содержит:
                    input.filter-input-text(type="text", placeholder="Не выбрано")
                    p.filter-title ФИО автора содержит:
                    input.filter-input-text(type="text", placeholder="Не выбрано")
                    p.filter-title Возврат к дате:
                    input.filter-input-date(type="date")
                    div.filter-list-of-status-block
                        p.filter-title Статус книги:
                        div.filter-list-of-status
                            div.filter-book-status
                                input.filter-book-status-checkbox(id="book_status_in_stock", type="checkbox")
                                label.filter-text-for-checkbox(for="book_status_in_stock") В наличии
                            div.filter-book-status
                                input.filter-book-status-checkbox(id="book_status_unavailable", type="checkbox")
                                label.filter-text-for-checkbox(for="book_status_unavailable") Занята
                            div.filter-book-status
                                input.filter-book-status-checkbox(id="book_status_overdue", type="checkbox")
                                label.filter-text-for-checkbox(for="book_status_overdue") Просрочена
                    button.filter-button(type="submit", id="filters_button_clean_filters") ОЧИСТИТЬ ФИЛЬТРЫ
                    button.filter-button(type="submit", id="filters_button_accept") ПРИНЯТЬ
                dialog.take-book-enter-info-dialog(id="take_book_enter_info_dialog")
                    form.take-book-enter-info-form
                        p Когда книга будет возвращена
                        input(type="date" id="take_book_enter_info_input_return_date")
                        button(type="submit" id="take_book_enter_info_button_accept") Принять
                        button(type="submit" id="take_book_enter_info_button_cancel") Отменить
                dialog.authorization-dialog(id="authorization_dialog")
                    form.authorization-form(method="dialog")
                        p Введите свой логин пользователя
                        div.authorization-form-input-part
                            label Логин:
                            input(type="text" id="authorization_dialog_user_login")
                        button(type="submit" id="authorization_dialog_accept") Войти
        script(src="../scripts/index.js", type="module")
        script(src="../scripts/client.js", type="module")
        script(src="../scripts/TableRowBook.js", type="module")