doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet/less" type="text/css" href="../stylesheets/common_style.less")
        link(rel="stylesheet/less" type="text/css" href="../stylesheets/profile.less")
        script(src="https://cdn.jsdelivr.net/npm/less")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="../scripts/jquery.js" type="module")

    body.all
        - const user = value ? value.user : {name:"", birth:"", id:"", gender:"", role:"", email:"" }
        - const userFriends = value ? value.userFriends : []
        - const userPosts = value ? value.userPosts : []

        header(id="common_header")
            a(href="/" id="index_header_profile_link") На главную
            a(href="/admin_panel" id="index_header_admin_panel_link") Панель управления

        main(id="profile_main")
            div(id="profile_content")
                section(id="profile_content_header")
                    h2 Страница пользователя
                    div(id="profile_content_header_buttons")
                        a(href=`/edit_profile/${user.id}`)
                            button.button-warning(type="button" id="profile_edit_user" class="action-button") Редактировать
                        button.button-danger(type="button" id=`banUser#${user.id}` class="action-button ban_button") Заблокировать
                div(id="profile_main_content")
                    section(id="profile_card")
                        div(id="profile_card_content")
                            p Данные профиля
                            div.profile-info
                                p.profile-card-title Имя:
                                p.profile-card-value(id="profile_name") #{user.name}
                            div.profile-info
                                p.profile-card-title Дата рождения:
                                p.profile-card-value(id="profile_birth") #{user.birth}
                            div.profile-info
                                p.profile-card-title Пол:
                                p.profile-card-value(id="profile_gender") #{user.gender}
                            div.profile-info
                                p.profile-card-title Роль:
                                p.profile-card-value(id="profile_role") #{user.role}
                            div.profile-info
                                p.profile-card-title Почта:
                                p.profile-card-value(id="profile_email") #{user.email}

                    section(id="profile_wall")
                        div(id="profile_wall_header")
                            h4.profile-wall-header-active(id="profile_wall_header_posts") Новости
                            h4.profile-wall-header-inactive(id="profile_wall_header_friends") Друзья



        script(src="../scripts/client.js" type="module")
        script(src="../scripts/profile.js" type="module")



